/* styles.css */

body {
  font-family: 'SF UI Display', sans-serif;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}


.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
}

p {
  /* Center horizontally*/
  text-align: center;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

/* Add more CSS rules as needed */
